/* ===== COLORS ===== */
:root {
  --primary: #ffbd59;
  --secondary: #222;
  --light: #fff;
}

/* ===== GLOBAL STYLES ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--secondary);
  color: var(--light);
  line-height: 1.6;
}

@media (max-width: 768px) {
  /* ===== CALENDLY OVERLAY ===== */
  .calendly-overlay {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .calendly-overlay iframe {
    margin: 0 0.6rem;
    position: relative !important;
    width: calc(100% - 1.2rem) !important;
    max-width: 600px !important;
    height: 90vh !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

/* ===== NAVBAR ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: var(--secondary);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 10px var(--secondary);
  border-bottom: 1px solid var(--primary);
}
.logo img {
  width: clamp(30px, 4vw, 100px);
  height: auto;
  border: 1px solid var(--primary);
  border-radius: 4px;
  
  transition: 
    transform 0.35s ease,
    box-shadow 0.35s ease;

  will-change: transform;
}
.logo img:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 6px 16px rgba(246, 213, 2, 0.15),
              0 0 10px color-mix(in srgb, var(--primary) 40%, transparent);
}


nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  z-index: 20000;
}

nav ul li a {
  transition: all 0.4s ease-in-out;
  display: flex;
  font-size: clamp(12px, 1vw, 18px);
}

nav ul li a:hover {
  color: var(--primary);
}
.nav-links {
  display: flex;
}

.cta-btn {
  background: var(--primary);
  color: var(--secondary);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s, transform 0.2s;
}

.cta-btn:hover {
  background: var(--secondary);
  color: var(--light);
  box-shadow: 0px 2px 8px var(--primary);
  transform: translateY(-2px);
}

/* Show text on desktop, icon only on mobile */
.cta-text {
  display: inline;
}

.cta-icon {
  display: none;
}

/* Mobile styles */
@media(max-width: 768px) {
  .cta-text {
    display: none;
  }
  .cta-icon {
    display: inline;
    font-size: .8rem;
   
  }
  .cta-btn {
    padding: .3rem .7rem;
     background: var(--light);
     border-radius: 2px;
     background-color: var(--primary);
  }
}



/* ===== NAVBAR MOBILE ===== */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: flex;
  }
}

/* ===== BURGER MENU ===== */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: var(--primary);
  border-radius: 3px;
  transition: 0.3s;
  z-index: 1;
}

/* ===== BURGER ANIMATION ===== */
.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.toggle .line2 {
  opacity: 0;
}
.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ===== MOBILE MENU ===== */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 55vh;
  background: #222;
  border-radius: 20px 0px 0px 20px;
  padding: 85px 15px;
  transition: right 0.8s ease-in-out;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px #111;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu ul li {
  padding: 4px 0;
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #ffbd59;
  width: 100%;
  margin-left: 0.5rem;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}

.mobile-menu ul li:hover {
  transform: translateY(-2px);
  color: #ffbd59;
}

.mobile-link {
  display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.mobile-menu.active .mobile-link {
  opacity: 1;
  transform: translateY(0);
}

/* ===== MEDIA QUERIES NAV ===== */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .nav-links {
    display: none;
  }
}

@media (max-width: 767px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu.active {
    display: flex;
  }
}

/* ===== LINKS ===== */
a {
  text-decoration: none;
  color: inherit;
}

/* ===== SECTIONS ===== */
section {
  padding: 4rem 1.5rem;
  max-width: 1255px;
  margin: 0 auto;
}
section h1,
h2,
h3 {
  margin-bottom: 1rem;
}
section h1 {
  font-size: clamp(24px, 2.5vw, 48px);
  font-weight: 800;
  text-align: left ;
}

/* ===== BUTTONS ===== */
.btn {
  display: inline-block;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-right: 1rem;
  box-shadow: 0px 2px 10px var(--secondary);
}

.mywork {
  background: transparent;
  border: 2px solid var(--primary);
  padding: 0.4rem 0.9rem;
}

.btn:hover,
.about .btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  color: var(--light);
  background: var(--secondary);
}

/* ===== HERO ===== */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1.5;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  background-image: url(photo/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: var(--secondary);
  margin: 0 auto;
  gap: 0;
  padding-top: 1rem;
}
.hero p {
  font-size: clamp(14px, 1.2vw, 22px);
  line-height: 1.6;
 
}
@media (max-width: 768px) {
  .hero {
    background-image: url(photo/mobile-hero-bg.jpg);
  }
}
@media (min-width: 768px) {
  .hero div {
    padding-left: 2rem;
  }
}

.hero div,
.about div,
.contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .contact-details p {
  display: flex;
  justify-content: center;
  text-align: left;
}

.hero img {
  width: clamp(250px, 25vw, 380px);
  height: auto;
  margin: 0 auto;
  filter: drop-shadow(0 8px 15px var(--secondary));
  display: block;
}

.hero .hero-btn {
  display: inline;
  margin-top: 1rem;
}

/* ===== SERVICES ===== */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: var(--secondary);
}

.service-card h3 {
  text-align: center;
}

.service-card {
  background: var(--light);
  border: 1px solid var(--secondary);
  padding: 2rem;
  border-radius: 8px;
  text-align: justify;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: -3px 4px 0px var(--primary);
}
.service .btn {
  width: 25%;
  text-align: center;
  padding: 0.5rem 1rem;
}
.service-btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .service .btn {
    margin: 0;
    width: 100%;
  }
}

.service .btn:hover {
  border: 1px solid var(--light);
}

/* ===== PROJECTS ===== */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.project-card {
  border: 1px solid var(--secondary);
  border-radius: 8px;
  overflow: hidden;
  text-align: justify;
  background: var(--primary);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  padding: .5rem;
  color: var(--secondary);
}
.project-card h3{
text-align: center;
}


.project-card:hover {
  transform: translateY(-2px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  margin: 1rem 0 0.5rem;
}

.project-card p {
  padding: 0 1rem 1rem;
  line-height: 1.6;
}
.inquire-btn {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--light);
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: .5rem 1rem;
}

/* Hover effect */
.inquire-btn:hover {
  background-color: var(--primary);
  box-shadow: 0px 2px 10px var(--secondary);
  color: var(--secondary);
}


/* ===== PROCESS ===== */
.process {
  padding: 4rem 1.5rem;
  text-align: center;
}

.process h2 {
  margin-bottom: 2rem;
}

.process-steps {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.step {
  max-width: 280px;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.step span {
  display: inline-block;
  background: #ffbd59;
  color: #222;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ===== FAQ ===== */
.faq {
  padding: 4rem 1.5rem;
  max-width: 700px;
  margin: auto;
}

.faq h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.faq details {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.faq summary {
  font-weight: bold;
}

.faq p {
  margin-top: 0.5rem;
  color: var(--primary);
}

/* ===== ABOUT ===== */
.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  text-align: center;
  background-image: url(photo/about-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--primary);
  height: auto;
  width: 100vw;
}
@media (max-width: 768px){
  .about{
    background-image: url(photo/mobile-about-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    height: auto;
    width: 1;
 
  }
}

.about img {
  width: clamp(300px, 40vw, 400px);
  height: auto;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0px 1px 4px var(--light));
}

/* ===== CONTACT ===== */
.contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.contact div {
  padding: 0 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1;
  color: var(--primary);
}

.contact input,
.contact textarea {
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid var(--secondary);
}

.contact button {
  width: max-content;
  box-shadow: 0px 2px 6px;
  width: 100%;
  margin-top: 0.9rem;
}

.contact button:hover {
  color: var(--light);
  box-shadow: 0px 2px 8px var(--light);
}

.contact .contact-B .get p {
  display: flex;
  justify-content: center;
}

.contact-B .social-icons {
  display: inline-block;
  align-self: center;
}

.contact-B .social-icons h2 {
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.social-icons a {
  display: inline-block;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 0px 0px 10px #ffbd59;
  color: #ffbd59;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: transform 0.6s ease, color 0.3s ease;
  padding: 0 6px;
}

.social-icons a:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0px 0px 10px #fff;
}

/*==========================*/

.contact-icons {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.contact-icons a {
  color: #25d366;
  font-size: 30px;
  transition: transform 0.2s, color 0.2s;
  display: inline-flex;
  align-items: center;
}
.contact-icons a .envelop {
  color: darkorange;
}
.contact-icons a:hover {
  transform: scale(1.1);
}

/* ===== FOOTER ===== */
.footer {
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  padding: 1.2rem;
  font-size: 0.9rem;
  box-shadow: 0px 2px 10px #111;
}

.simple-footer p {
  margin: 0;
  opacity: 0.8;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .contact {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .about .btn {
    margin: 0 auto;
  }
  .about {
    text-align: justify;
  }

  .contact div {
    padding: 0;
    line-height: 2;
  }

  .social-icons a {
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 10px #ffbd59;
    color: #ffbd59;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: transform 0.6s ease, color 0.3s ease;
    padding: 0 10px;
  }

  .social-icons a:hover {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0px 0px 10px #fff;
  }

  .contact .contact-B {
    border: 1px solid var(--primary);
    border-radius: 10px;
    height: auto;
    padding: 2rem 0;
  }
}