/* ===== COLORS ===== */
:root {
  --primary: #ffbd59;
  --secondary: #222;
  --light: #fff;
}

/* ===== GLOBAL STYLES ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--secondary);
  color: var(--light);
  line-height: 1.6;
}

@media (max-width: 768px) {
  /* Center the popup and give horizontal margin */
  .calendly-overlay {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .calendly-overlay iframe {
    margin: 0 .5rem;
    position: relative !important; /* remove fixed positioning */
    width: calc(100% - 1rem) !important; /* 1rem margin left + right */
    max-width: 600px !important; /* optional max width */
    height: 90vh !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

/* ===== NAVBAR ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: var(--secondary);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--secondary);
}
.logo img {
  width: clamp(100px, 15vw, 150px);
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  z-index: 20000;
}

nav ul li a {
  font-weight: bold;
  transition: color 0.3s;
  display: flex;
}

nav ul li a:hover {
  color: var(--primary);
}
.nav-links {
  display: flex;
}

@media (max-width: 768px) {
  /* hide desktop links on mobile */
  .nav-links {
    display: none;
  }

  /* show burger only on mobile */
  .burger {
    display: flex;
  }
}

/* ---------- BURGER ---------- */
.burger {
  display: none; /* show only on mobile */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: var(--primary);
  border-radius: 3px;
  transition: 0.3s;
  z-index: 1;
}

/* Burger X animation */
.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.toggle .line2 {
  opacity: 0;
}
.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 47vh;
  background: #222;
  border-radius: 20px 0px 0px 20px;
  padding: 85px 15px;
  transition: right 0.8s ease-in-out;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px #111;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
}

.mobile-menu ul li {
  padding: 4px 0;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #ffbd59;
  width: 100%;
  text-align: center;
}

.mobile-menu ul li:hover {
  transform: translateY(-2px);
  color: #ffbd59;
}

.mobile-link {
  display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.4s ease;
}
/* When menu is open */
.mobile-menu.active .mobile-link {
  opacity: 1;
  transform: translateY(0);
}

/* SHOW BURGER ON MOBILE */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .nav-links {
    display: none;
  }
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu.active {
    display: flex;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 4rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

/* ===== BUTTONS ===== */
.btn {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--light);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.btn:hover, .about .btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  color: var(--primary);
}

/* ============================== HERO ============================================== */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1.5;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  background-image: url(photo/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
background-attachment: fixed;
  color: var(--secondary);
  margin: 1rem auto;
 
}
@media (max-width: 768px){
  .hero{
    background-image: url(photo/mobile-hero-bg.jpg);
  }
}

.hero div,
.about div,
.contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .contact-details p {
  display: flex;
  justify-content: center;
  text-align: left;
}

.hero img {
  width: clamp(250px, 33vw, 380px);
  height: clamp(250px, 33vw, 380px);
  margin: 0 auto;
  filter: drop-shadow(0 8px 15px var(--secondary));
  display: block;
}
.hero .hero-btn {
  display: inline;
  margin-top: 1rem;
}

/* ===================== SERVICES ============================ */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: var(--secondary);
}
.service-card h3{
  text-align: center;
}

.service-card {
  background: var(--light);
  border: 1px solid var(--secondary);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  text-align: justify;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: -3px 4px 0px var(--primary);
}

/* ===== PROJECTS ===== */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.project-card {
  border: 1px solid var(--secondary);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background: var(--primary);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth transition */
}

.project-card:hover {
  transform: translateY(-6px); /* slight lift */
  box-shadow: -3px 4px 0px var(--light);
}


.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  margin: 1rem 0 0.5rem;
}

.project-card p {
  padding: 0 1rem 1rem;
}

/* ============================ ABOUT ==================== */
.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.about img {
  width: clamp(250px, 25vw, 300px); 
  height: auto; /* maintain aspect ratio */
  border-radius: 20px; 
  display: block;
  margin: 0 auto; 
}

.about .btn {
  background: var(--secondary);
  width: clamp(
    200px,
    10vw,
    300px
  ); /* min 150px, ideal 40% of viewport, max 300px */
  padding: 0.5rem 1rem;
  color: var(--light);
  text-align: center;
  box-shadow: 0px 2px 6px;
}

/* ===== CONTACT ===== */
.contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact input,
.contact textarea {
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid var(--secondary);
}

.contact button {
  width: max-content;
  background: var(--secondary);
  color: var(--primary);
  box-shadow: 0px 2px 6px;
  width: 100%;
}
.contact button:hover{
  color: var(--light);
  box-shadow: 0px 2px 8px var(--light);
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .contact {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .about .btn {
    margin: 0 auto;
  }
  .about {
    text-align: justify;
  }
 
}
